<!DOCTYPE html>
<html>
  <head>
    <title>GitHub for LaunchBar</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Overlock" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="GitHub for LaunchBar" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://launchbar-github.com" />
    <meta property="og:image" content="<%= asset_url('site-preview.png') %>" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bswinnerton">
    <meta name="twitter:creator" content="@bswinnerton">
    <meta name="twitter:title" content="GitHub for LaunchBar">
    <meta name="twitter:description" content="Search through your repositories, pull requests, issues, and more all with a few keystrokes.">
    <meta name="twitter:image" content="<%= asset_url('site-preview-twitter.jpg') %>">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102689760-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
